.user_box {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px solid whitesmoke;
  border-radius: 12px;
  margin: 32px;
  padding: 12px;
  box-shadow: 2px 2px 5px 5px white;
}
.user_image {
  width: 100px;
}
.user_navlist {
  display: flex;
  gap: 12px;
  margin: 16px;
}
.nav_link {
  color: black;
  border: 1px solid darkgrey;
  border-radius: 6px;
  padding: 16px;

  &:hover {
    color: white;
    background-color: rgb(27, 64, 43);
  }
}
